version: "3.9"

services:
  ms1:
    build: ./ms1
    ports:
      - "3000:3000"

  ms2:
    build: ./ms2
    ports:
      - "4000:4000"

  ms3_ocsvm:
    build: ./ms3/ms3.1
    ports:
      - "4001:4001"

  ms3_iforest:
    build: ./ms3/ms3.2
    ports:
      - "4002:4002"

  ms3_autoencoder:
    build: ./ms3/ms3.3
    ports:
      - "4003:4003"

  ms4:
    build: ./ms4
    ports:
      - "4004:4004"
    depends_on:
      - ms2
      - ms3_ocsvm
      - ms3_iforest
      - ms3_autoencoder