version: "3.9"

services:
  ms1:
    build: ./ms1
    ports:
      - "3000:3000"

  ms2:
    build: ./ms2
    ports:
      - "8000:8000"

  ms3_ocsvm:
    build: ./ms3/ms3.1
    ports:
      - "8001:8001"

  ms3_iforest:
    build: ./ms3/ms3.2
    ports:
      - "8002:8002"

  ms3_autoencoder:
    build: ./ms3/ms3.3
    ports:
      - "8003:8003"

  ms4:
    build: ./ms4
    ports:
      - "8004:8004"
    depends_on:
      - ms2
      - ms3_ocsvm
      - ms3_iforest
      - ms3_autoencoder